#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    mac {
      display-name = "MAC";
      bindings = <
        &kp MINUS &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &none &mo 4 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp EQUAL
        &kp TAB &kp Q &kp W &kp E &kp R &kp T &TERMINAL &kp RCTRL &kp Y &kp U &kp I &kp O &kp P &kp BSLH
        &kp ESC &kp A &kp S &kp D &kp F &kp G &kp LCTRL &kp LGUI &kp LCTRL &kp RGUI &kp RALT &kp TAB &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
        &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LG(LEFT) &kp PG_UP &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
        &mo 2 &kp GRAVE &Mac_Mission_Control &kp LEFT &kp RIGHT &kp BSPC &kp DEL &kp LG(RIGHT) &kp PG_DN &kp ENTER &kp SPACE &kp DOWN &kp UP &kp LBKT &kp RBKT &mo 2
      >;
    };
    windows {
      display-name = "WINDOWS";
      bindings = <
        &kp MINUS &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &none &mo 4 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp EQUAL
        &kp TAB &kp Q &kp W &kp E &kp R &kp T &TERMINAL &kp RGUI &kp Y &kp U &kp I &kp O &kp P &kp BSLH
        &kp ESC &kp A &kp S &kp D &kp F &kp G &kp CAPS &kp LCTRL &kp LGUI &kp RALT &kp RCTRL &kp TAB &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
        &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp HOME &kp PG_UP &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
        &mo 2 &kp GRAVE &Win_Show_All_Windows &kp LEFT &kp RIGHT &kp BSPC &kp DEL &kp END &kp PG_DN &kp ENTER &kp SPACE &kp DOWN &kp UP &kp LBKT &kp RBKT &mo 2
      >;
    };
    functions {
      display-name = "FUNCTIONS";
      bindings = <
        &bl BL_TOG &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &none &mo 4 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp K_LOCK
        &none &Win_Close_Program &none &none &none &kp C_BRI_UP &kp C_VOL_UP &none &none &none &mmv MOVE_UP &none &none &none
        &none &none &none &none &kp F11 &kp C_BRI_DN &kp C_VOL_DN &none &none &kp RGUI &kp RCTRL &none &none &mmv MOVE_LEFT &kp K_APP &mmv MOVE_RIGHT &none &none
        &none &none &none &kp LG(RC(LEFT)) &kp LG(RC(RIGHT)) &none &kp HOME &msc SCRL_UP &none &none &mmv MOVE_DOWN &none &none &none
        &mo 2 &none &none &kp LC(LS(TAB)) &kp RC(TAB) &tog 3 &SHORTCAT &kp END &msc SCRL_DOWN &mkp MB1 &mkp MB2 &msc 327680 &none &msc 327680 &INPUT_PW_WINDOW &PW
      >;
    };
    keypad {
      display-name = "Kp";
      bindings = <
        &kp KP_EQUAL &none &none &none &none &none &none &mo 4 &none &kp KP_NUM &none &none &kp KP_MINUS &kp KP_PLUS
        &kp TAB &none &none &none &none &none &none &none &none &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_DIVIDE &kp KP_MULTIPLY
        &kp ESC &none &none &none &none &none &none &kp LCTRL &kp LALT &kp LGUI &kp RCTRL &kp SEMI &none &kp KP_N4 &kp KP_N5 &kp KP_N6 &none &none
        &kp LSHFT &none &none &none &none &none &kp HOME &kp PG_UP &kp SPACE &kp KP_N1 &kp KP_N2 &kp KP_N3 &none &kp RSHFT
        &tog 3 &none &none &kp LEFT &kp RIGHT &kp BSPC &kp DEL &kp END &kp PG_DN &kp ENTER &kp KP_N0 &kp DOWN &kp UP &kp KP_DOT &kp LS(SEMI) &kp KP_ENTER
      >;
    };
    mod {
      display-name = "Mod";
      bindings = <
        &stp STP_BAT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &trans &none &none &none &none &none &none
        &none &none &none &none &none &none &bootloader &bootloader &none &none &none &none &none &none
        &studio_unlock &none &none &none &none &none &none &none &none &bt BT_CLR &none &none &none &none &none &none &none &none
        &none &none &none &none &none &none &none &none &none &none &none &none &none &none
        &none &none &none &none &none &to 0 &to 1 &none &none &bl BL_TOG &rgb_ug RGB_TOG &bl BL_DEC &bl BL_INC &none &none &none
      >;
    };
    extra1 {
      display-name = "Red";
      status = "reserved";
    };

    extra2 {
      display-name = "Purple";
      status = "reserved";
    };

    extra3 {
      display-name = "Cyan";
      status = "reserved";
    };
  };
};
